
{{!-- header.hbs --}}
 <h1>{{title}}</h1> 
<div>   
      <a href="/">Weather</a>   
      <a href="/about">About</a>   
      <a href="/help1">Help</a>
</div>
<!DOCTYPE html> 
<html> 
    <head>   
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/test.js"></script>
    </head> 
    <body>
        <h1>About</h1>
        <img src="/assets/image.png"> 
    </body> 
    <body>
        <h1>{{title}}</h1>  
        <p>Created by {{name}}</p>
     </body>
 
</html>